<!DOCTYPE html>
<html>
 <%- include ../partials/head.ejs %>
<body>
  <%- include ../partials/header.ejs %>
  <main>
    <div class="page-header">
        <h2><%= value.name %></h2>
    </div>
    <div id="repdeck">
    <img id="imgcard" src="<%= value.image_url %>" alt="<%= value.name %>" />
      <div id="repcard">
    <p>Political Affiliation: <%= value.political_affiliation %></p>
    <p>Role: <%= value.role %></p>
      </div>
  </div>
    <div class="deck" id="voting-history">
      <p>Recent Voting History:</p>
      <% value.vote.forEach(vote => { %>
        <h3><%= vote.name %></h3>
        <p><%= vote.result%></p>
      <% }) %>
    </div>
    <div class="deck" id="funding">
      <p>Sources of Funding: chart.js here? </p>
    </div>
    <div id="funding-chart">
        <canvas id="fundingChart"></canvas>
    </div>
  </main>
  <%- include ../partials/footer.ejs %>
</body>
</html>
