<!DOCTYPE html>
<html>
 
 <%- include ../partials/head.ejs %>

<body>
  <%- include ../partials/header.ejs %>
  <main>
    <div class="page-header">
      <h2><%= value[2].name %></h2>
    </div>
    <p class="hidden repid"><%= value[5].id %></p>
    <section id="details-deck">
      <div id="repdeck">
        <img id="imgcard" src="<%= value[6].image_url %>" alt="<%= value[2].name %>" />
        <p>Political Affiliation: <%= value[4].political_affiliation %></p>
        <p>Role: <%= value[3].role %></p>
      </div>
    
      <div class="card" id="funding">
        <p>Sources of Funding: </p>
        <div id="funding-chart">
          <canvas id="fundingChart" style="position: relative; height:4em; width:4em"></canvas>
        </div>
      </div>
      
      <div class="deckhist" id="voting-history">
        <p id="histheader">Recent Voting History:</p>
        <% value[1].forEach(vote => { %>
          <h3><%= vote.description %></h3>
          <p><%= vote.position%></p>
        <% }) %>
      </div>
    </section>
    
  </main>
  <%- include ../partials/footer.ejs %>
</body>
</html>
