<!DOCTYPE html>
<html>
 <%- include ../partials/head.ejs %>
<body>
  <%- include ../partials/header.ejs %>
  <main>
    <div class="page-header">

      <h2>Your District is <%= value[0].voting_district %></h2>

  </div>
    <section id="intro">
      <div class="card1">
        <p><a href="/checkvoter">Am I Registered to Vote?</a></p>
      </div>
    </section>
    <section id="national-rep" class="deck">
      <legend >National Representatives</legend>

      <div class="innerdeck">

      <% value.forEach(item => { %>
        <% if(/Federal/.test(item.role)){ %>
          <div class="card">

              <a href="/loadrep/<%=item.id%>">
                <h3><%= item.politician %></h3>
                <p>Role: <%= item.role %></p>
                <img src="<%= item.image_url %>" alt="<%= item.politician %>" />
                <p>Identifies as: <%= item.affiliation %></p>
                <p><a target="blank" href="<%= item.website %>">Website</a></p>
                <p>Phone: <%= item.contact_phone %></p>
              </a>
    
            </div>
     
      <% }}) %>
    </div>
    </section>

    <section id="state-rep" class="deck">
        <legend>State Representatives</legend>

        <div class="innerdeck">

      <% value.forEach(item => { %>
        <% if(/State/.test(item.role)){ %>
        <div class="card">

          <a href="/loadrep/<%=item.id%>">
            <h3><%= item.politician %></h3>
            <p>Role: <%= item.role %></p>
            <img src="<%= item.image_url %>" alt="<%= item.politician %>" />
            <p>Identifies as: <%= item.affiliation %></p>
            <p><a target="blank" href="<%= item.website %>">Website</a></p>
            <p>Phone: <%= item.contact_phone %></p>
          </a>

        </div>
      <% }}) %>
      </div>
    </section>

  </main>
  <%- include ../partials/footer.ejs %>
</body>
</html>
