<!DOCTYPE html>
<html>
 <%- include ../partials/head.ejs %>
<body>
  <%- include ../partials/header.ejs %>
  <main>
    <div class="page-header">

        <h2>Your Representives for Federal District <%= value.districtPair.federalDistrict %> and State District <%= value.districtPair.stateDistrict %></h2>

    </div>
    <section id="intro">
      <div class="card1">
        <p><a href="/checkvoter">Am I Registered to Vote?</a></p>
      </div>
    </section>
    <section id="national-rep" class="deck">
      <legend >National Representatives</legend>

      <div class="innerdeck">

      <% value.reps.forEach(item => { %>
        <% if(/Federal/.test(item.role)){ %>
        <div class="card">

          <a href="/loadrep/:id">
            <h3><%= item.name %></h3>
            <p>Role: <%= item.role %></p>
            <img src="<%= item.img_url %>" alt="<%= item.name %>" />
            <p>Identifies as: <%= item.political_affiliation %></p>
            <p>Website: <%= item.website_url %></p>
            <p>Email: <%= item.email %></p>
            <p>Phone: <%= item.phone %></p>
          </a>

        </div>
     
      <% }}) %>
    </div>
    </section>

    <section id="state-rep" class="deck">
        <legend>State Representatives</legend>

        <div class="innerdeck">

      <% value.reps.forEach(item => { %>
        <% if(/State/.test(item.role)){ %>
        <div class="card">

          <a href="/loadrep/:id">
            <h3><%= item.name %></h3>
            <p>Role: <%= item.role %></p>
            <img src="<%= item.img_url %>" alt="<%= item.name %>" />
            <p>Identifies as: <%= item.political_affiliation %></p>
            <p>Website: <%= item.website_url %></p>
            <p>Email: <%= item.email %></p>
            <p>Phone: <%= item.phone %></p>
          </a>

        </div>
      <% }}) %>
    </div>
    </section>

  </main>
  <%- include ../partials/footer.ejs %>
</body>
</html>
