<!DOCTYPE html>
<html>
 <%- include ../partials/head.ejs %>
<body>
  <%- include ../partials/header.ejs %>
  <main>
    <div class="page-header">
        <h2>Your Representives for Federal District <%= value.districtPair.federalDistrict %> and State District <%= value.districtPair.stateDistrict %></h2>
    </div>
    <section id="intro">
      <div class="card">
        <p><a href="/checkvoter">Can I Vote?</a></p>
      </div>
    </section>
    <section id="national-rep" class="deck">
      <legend>National Representatives</legend>
      <% value.reps.forEach(item => { %>
        <% if(/Federal/.test(item.role)){ %>
        <div class="card">
          <h3><%= item.name %></h3>
          <p>Role: <%= item.role %></p>
          <img src="<%= item.img_url %>" alt="<%= item.name %>" />
          <p>Identifies as: <%= item.political_affiliation %></p>
          <p>Website: <%= item.website_url %></p>
          <p>Email: <%= item.email %></p>
          <p>Phone: <%= item.phone %></p>
        </div>
      <% }}) %>
    </section>

    <section id="state-rep" class="deck">
        <legend>State Representatives</legend>
      <% value.reps.forEach(item => { %>
        <% if(/State/.test(item.role)){ %>
        <div class="card">
          <h3><%= item.name %></h3>
          <p>Role: <%= item.role %></p>
          <img src="<%= item.img_url %>" alt="<%= item.name %>" />
          <p>Identifies as: <%= item.political_affiliation %></p>
          <p>Website: <%= item.website_url %></p>
          <p>Email: <%= item.email %></p>
          <p>Phone: <%= item.phone %></p>
        </div>
      <% }}) %>
    </section>

  </main>
  <%- include ../partials/footer.ejs %>
</body>
</html>
